In [16]:
import pandas as pd

#データを定義して変数dfに格納
df = pd.DataFrame({
    '日付':['2023-05-17','2023-05-18','2023-05-19','2023-05-20','2023-05-21'],
    '社員名':['山田','佐藤','鈴木','田中','高橋'],
    '売上':[100,200,150,300,250],
    '部門':['メーカー','代理店','メーカー','商社','代理店']
})

#Excelファイルを作成
writer = pd.ExcelWriter('売上データ.xlsx')

#ファイルに書き込み
df.to_excel(writer, sheet_name='Sheet1', index=False)

#ファイルを閉じる
writer.close()

#売上データ.xlsxファイルを読み込む
df_1 = pd.read_excel('売上データ.xlsx')

#「売上」列の平均値を計算してmeanに代入する
mean = df_1['売上'].mean().astype(int)
#print(df_1.dtypes)

#「平均売上」を作成してmeanを入力する
df_1['平均売上'] = mean.astype(int)

#振り分け条件
def prioritize(rank):
  result = '';
  if rank >= (mean +50):
    result = 'A';
  elif rank >= mean:
   result = 'B';
  else:
    result = 'C';
  return result

#rankに「売上」を代入して「業績ランク」を作成
df_1['業績ランク'] = df_1['売上'].apply(prioritize)

#新たに業務.xlsxファイルを作成
writer_1 = pd.ExcelWriter('業績.xlsx')

#ファイルに書き込み
df_1.to_excel(writer_1, sheet_name='Sheet1', index=False)

#ファイルを閉じる
writer_1.close()

print("----df---")
print(df)
print("----df_1---")
print(df_1)

----df---
           日付 社員名   売上    部門
0  2023-05-17  山田  100  メーカー
1  2023-05-18  佐藤  200   代理店
2  2023-05-19  鈴木  150  メーカー
3  2023-05-20  田中  300    商社
4  2023-05-21  高橋  250   代理店
----df_1---
           日付 社員名   売上    部門  平均売上 業績ランク
0  2023-05-17  山田  100  メーカー   200     C
1  2023-05-18  佐藤  200   代理店   200     B
2  2023-05-19  鈴木  150  メーカー   200     C
3  2023-05-20  田中  300    商社   200     A
4  2023-05-21  高橋  250   代理店   200     A